
<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myJobOfferLabel">Apply to Offer</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
<!--
        <div class="form-group">
            <input type="hidden" class="form-control" id="id" name="id"
                    ng-model="jobOffer.id" readonly>
        </div>
-->
        <div class="form-group">
            <label for="field_fullname">Your Full Name</label>
            <input type="text" class="form-control" name="fullname" id="field_fullname"
                    ng-model="jobApplication.fullname"
                    required>
            <div ng-show="editForm.fullname.$invalid">
                <p class="help-block"
                    ng-show="editForm.fullname.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label for="field_email">Your Email</label>
            <input type="text" class="form-control" name="location" id="field_email"
                    ng-model="jobApplication.email"
                    required>
            <div ng-show="editForm.email.$invalid">
                <p class="help-block"
                   ng-show="editForm.email.$error.required">
                    This field is required.
                </p>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || editForm.$submitted" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Apply</span>
        </button>
    </div>
</form>
