<div>
    <div class="container row">
        <div class="col-xs-12 col-md-8">
            <h2>Current Job Offers</h2>
        </div>
        <div class="col-xs-6 col-md-4">
            <h2><input type="text" class="form-control" ng-model="jobOffer" placeholder="Search" autofocus/></h2>
        </div>
    </div>
    <jh-alert></jh-alert>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Title</th>
                <th>Location</th>
                <th>Description</th>                
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="jobOffer in jobOffers | filter:jobOffer">
                <td>{{jobOffer.title}}</td>
                <td>{{jobOffer.location}}</td>
                <td>{{jobOffer.description}}</td>                
                <td>
                    <button type="submit"
                            ui-sref="application({id:jobOffer.id})"
                            class="btn btn-primary btn-sm">
                        <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span> Apply</span>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
        <nav>
            <ul class="pager">
                <li ng-show="links['first'] >= 0" ng-click="loadPage(links['first'])"><a href="#">&lt;&lt;</a></li>
                <li ng-show="page > 0" ng-click="loadPage(links['prev'] || 0)"><a href="#">&lt;</a></li>
                <li ng-show="links['next']" ng-click="loadPage(links['next'])"><a href="#">&gt;</a></li>
                <li ng-show="links['last'] > 0" ng-click="loadPage(links['last'])"><a href="#">&gt;&gt;</a></li>
            </ul>
        </nav>
    </div>
</div>
